# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Bruger\Desktop\NIB\5. Semester\Software Development\Portfolios\2. Portfolio\PortfolioTwo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
